<!DOCTYPE html>
<html>
<head>
	<title>Movies</title>
</head>
<body>
	<div>
		<h1>Movie List List</h1> 		
	</div>

	<a href="/admin"> Back</a> |
	<a href="/logout"> logout</a><br>

	<table border="1">
		<tr>
			<td>Movie Name</td>
			<td>Genre</td>
			<td>Language</td>
			<td>ranking</td>
		</tr>
		<!-- <% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].ranking %></td>
			<td><%= userlist[i].username %></td>
			<td><%= userlist[i].password %></td>
			<td><%= userlist[i].type %></td>
			<td>
				<a href="/admin/edit/<%= userlist[i].id %>">EDIT</a> | 
				<a href="/admin/delete/<%= userlist[i].id %>">DELETE</a>  
			</td>
		</tr>
		<% } %> -->
	</table>
</body>
</html>